body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.bingo-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.bingo-cell {
    padding: 20px;
    background-color: #c21c1c; /* Fondo de las casillas */
    border: 1px solid #ccc; /* Borde para las casillas vacías */
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* Asegura que el contenido se centre */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    min-height: 50px; /* Altura mínima para las casillas vacías */
}

.free { /* Estilo específico para la casilla "Libre" */
    font-weight: bold; /* Hace el texto "Libre" más notorio */
    color: #444; /* Color del texto para "Libre" */
}


.bingo-cell.marked {
    position: relative;
}

.bingo-cell.marked::after {
    content: "X";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: red;
}
